<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask application</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    <h1>Search for Medicine Composition</h1>
    <input type="text" id="medicineName" placeholder="Enter medicine name">
    <button onclick="searchMedicine()">Search</button>
    <div id="composition"></div>

    <script>
        function searchMedicine() {
            var medicineName = document.getElementById('medicineName').value;
            fetch('/search?medicine_name=' + encodeURIComponent(medicineName))
            .then(response => response.json())
            .then(data => {
                if (data.composition) {
                    document.getElementById('composition').innerText = 'Composition: ' + data.composition;
                } else {
                    document.getElementById('composition').innerText = 'Composition not found';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>
